{% extends "home.html" %}
{% block general %}
  <div class="paypal_calc white center_block center_inline pure-u-1">
  	<span><h2>PAYPAL CALC "How much I have to send"</h2></span>
	{% if error %}
  			<span class="center_inline"><h5>{{error}}</h5></span>
  	{% endif %}
  	<form action="">
  		
  		<div class="pure-g">
  			<div class="pure-u-1-2">
  				<span>Desired total to send </span><input step="0.01" type="number" name="total_a_enviar" value="{{total_a_enviar}}">
  			</div>
  			<div class="pure-u-1-2"> 
				<div class="">
					<span >Country fee </span><input step="0.01" min="0" type="number" name="tasa_pais" style="width:10%;" value="{{tasa_pais}}">
			  		<span >  Fixed fee </span><input step="0.01" min="0" type="number" name="tasa_fija" style="width:10%;" value="{{tasa_fija}}">
				</div>
				<div class="">
					<br>
					<a href="https://www.paypal.com/webapps/mpp/ua/useragreement-full#exhibit_A">Paypal fees information</a>
				</div>
			</div>
  		</div>
		
  		
		<br>
		<br>
  		<button class="center_inline">How much?!</button>
  		<br>
  		<br>
  		{% if total %}
  			<span><h2>This much: {{total}}</h2></span>
  		{% endif %}
  	</form>
  </div>

{% endblock %}